# Configuración del servidor
PORT=4000
FRONTEND_URL=http://localhost:5000

# API de TMDB (Tenes que sacar tu propia key en themoviedb.org)
API_KEY_TMDB=tu_api_key_aqui

# Base de Datos (MySQL/MariaDB)
# Ajustá estos valores con los de tu XAMPP o base de datos local
DATABASE_URL="mysql://root:password@localhost:3306/cinevault"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="cinevault"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# Seguridad
# Poné cualquier palabra secreta acá para que el login funcione
JWT_SECRET="una_palabra_secreta_muy_larga"

# Redis (Opcional para seguridad, si no tenés usará los valores por defecto)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
