/* Settings.css */

.settings-main {
    max-width: 980px;
    margin: 0 auto;
    padding: 96px 20px 130px;
}

@media (max-width: 768px) {
    .settings-main {
        padding: 90px 14px 120px;
    }
}